.my-container{
    width:90%;
    margin:0 auto;
}
body{
    background-color: #FFFFFF;
    color: #2E3333;

}
    nav{
        border-bottom:0.30px solid lightgray;
        .logo{
            width:120px;
            height:70px;
            img{
                display:block;
                width:100%;
                height:100%;
            }
        }

        a{
            text-decoration:none;
            color: #2E3333;
        }

        .nav-buttons{
            border:0.30px solid lightgray;
            margin-right:1rem;
            border-radius:5px;
        }
        .nav-buttons:hover {
            background-color: #71c3bc; /* Change the background color on hover */
        }
        .form-control{
            width:400px;
        }
        svg{
            margin-right:0.30rem;
            vertical-align: middle;
        }

    }